*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none;
}


/* HEADER */
header {
    background-color: #9e9e9e;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
  
  .logo img {
    max-width: 125px;
    height: auto;
    margin-right: 200px;
    margin-left: 50px;
  }
  
  /* Menu Navegación*/
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-right: 70px;
    position: relative;
  }
  
  nav a {
    color: #fff;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #237b91;
    font-weight: 600;
  }
  
  /* Desplegables */
  .hcolumn {
    display: none;
    position: absolute;
    background-color: #9e9e9e;
    padding: 10px;
    left: 0;
    z-index:1;
  }
  
  .hcolumn li {
    display: inline-block;
    margin: 5px 0;
  }

  .hcolumn a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
  }
  
  nav li:hover .hcolumn {
    display: block;
  }
  
  /* Carrito */
  .fa-shopping-cart {
    font-size: 20px;
  }

  @media screen and (max-width:800px){
    header{
        flex-direction: column;
    }    

    nav{
        padding: 10px 0px;
    }
  }


/* MAIN */
main{
    width: 100%;
    background-color: #efefef;
  }

  .secc1 {
    padding-bottom: 50px;
  }

  .secc1 .conseSubTitt {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
  }

  .secc1 .parte1 {
    position: relative;
    text-align: center;
  }

  .secc1 .parte1 img {
    width: 100%;
    height: 90vh;
    display: block;
    z-index: 0;
  }
  
  .secc1 .parte1 .title1, .titleOthers {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
    color: #efefef;
    padding: 10px;
    border-radius: 5px;
  }

  .secc1 .parte1 .title1 h1, .titleOthers h2{
    font-size: 50px; 
    text-transform: uppercase;
  }

  .secc2 .title{
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
  }


  .secc2 .containerm{
    align-items: center;
    justify-content:space-around;
    display:flex;	
    padding-bottom: 50px;
  }

  .secc2 .containerm .titulo a{
    color: #000000;
    font-weight: 900;
  }

  .secc2 .containerm .titulo a:hover{
    color: #1aa4c7;
  }

  .secc2 .containerm .precio img{
    width: 100%;
  }

  .secc2 .tarjeta{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:20%;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
  }
  .secc2 .titulo{
    font-size: 24px;
    padding: 10px 10px 0 10px;;
  }
  .secc2 .precio{
    padding: 10px;
  }

  .secc3 .parte2 {
    position: relative;
    text-align: center;
  }

  .secc3 .parte2 img {
    width: 100%;
    height: 90vh;
    display: block;
    z-index: 0;
  }
  
  .secc3 .parte2 .title2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(184, 184, 184, 0.233);
    color: #efefef;
    padding: 10px;
    border-radius: 5px;
  }

  .secc3 .parte2 .title2 h2{
    font-size: 60px; 
  }

  .secc3 .boton{
    text-align: center;
    padding: 30px 0px 50px 0px;
  }

  .secc3 .boton .botonT{
    border: 1px solid #000000; 
    padding: 20px; 
    background-color: #444b57;
    color: #ffffff; 
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px; 
  }

  .secc3 .boton .botonT:hover{
    color: #1aa4c7;
    font-weight: 600;
  }

  @media screen and (max-width:800px){
    section .secc1, .secc2, .secc3{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        padding: 45px 10px;
        text-align: center;
    }

    .box ul li{
        color: #237b91;
    }

    .metf{
        justify-content: center;
    }

    .box_2 a{
        color: #237b91;
      }    
  }


/* FOOTER */
footer{
    width: 100%;
  }

  .part1{    
    background-color: #1f1f1f;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 45px 10px;
  }

  .box{
    padding: 30px 20px;
  }

  .logf{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .logf img{
    width: 250px;
  }

  .box h3{
    color: #fff;
    margin-bottom: 25px;
    font-size: 25px;
  }

  .box ul{
    list-style: none;
  }

  .box ul li{
    padding-bottom: 20px;
    color: #cccccc;
    font-size: 20px;
  }

  .box ul li:hover{
    font-weight: 600;
    color: #237b91;
  }

  .box p{
    color: #bbc2c4;
  }

  .metf{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .metf img{
    width: 250px;
  }

  .box_1{
    margin-bottom: 10px;
  }

  .box_2-1{
    margin-left: 20px;
  }

  .box_2 a{
    width: 45px;
    height: 45px;
    color: #fff;
    margin-right: 10px;
    transition: all 0.5s ease;
  }

  .box_2 a:hover{
    color: #237b91;
  }

  .part2{
    background-color: #1d1d1d;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }

  .part2 small{
    font-size: 20px;
  }

  .part2 small a{
    color: white;
  }
  .part2 small a:hover{
    color: #237b91;
  }

  @media screen and (max-width:800px){
    footer .part1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        padding: 45px 10px;
        text-align: center;
    }

    .box ul li{
        color: #237b91;
    }

    .metf{
        justify-content: center;
    }

    .box_2 a{
        color: #237b91;
      }    
  }